<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.apache.dubbo.gateway.admin.repository.mapper.EventVersionMapper">

    <update id="setVersion">
        UPDATE event_version
        SET version=#{version}
        WHERE event_key = #{eventKey}
    </update>

    <insert id="insert">
        INSERT INTO event_version (`event_key`,
                                       `version`)
        VALUES (#{eventKey},
                #{version})
    </insert>

    <select id="queryVersion"
            resultType="org.apache.dubbo.gateway.admin.repository.model.EventVersionDO">
        <if test="lock">/*{"router":"m"}*/</if>
        SELECT `id`, `event_key`, `version`
        FROM event_version
        WHERE event_key in
        <foreach collection="eventKeys" item="eventKey" open="(" separator="," close=")">#{eventKey}</foreach>
        <if test="lock">FOR UPDATE</if>
    </select>

</mapper>